.container3 {
    width: 66.6666667%;
    height: 97vh;
    border-radius: 8px;
    padding: 2rem;
}

.flex3 {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Added alignment */
}

.text3 {
    font-size: 1.875rem;
    font-weight: bold;
}

.button3 {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button3:hover {
    background-color: #2b6cb0;
    color: #000;
}

.form3 {
    height: 83.3333333%;
    margin-top: 1rem;
    display: grid; /* Changed to grid */
    grid-template-columns: repeat(2, 1fr); /* 2-column layout */
    gap: 1.25rem;
}

.input3, .select3 {
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #c0c0c0;
    border-radius: 0.375rem;
    background-color: transparent;
}

.label3 {
    margin-top: 1.25rem;
}

.option3 {
    background-color: #f3f4f6;
}

.fixed3 {
    position: fixed;
    bottom: 6rem; /* Adjusted */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Centered horizontally */
    width: 33.3333333%;
    padding: 0.7rem 1rem;
    cursor: pointer;
    width: 20%;
}

.fixed3:hover {
    background-color: #2b6cb0;
    color: #000;
}
