.header{
    display: block;
    position: relative;
}

.navbar{
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 30%;
    margin-bottom: 30px;
}

.brand{
    color: var(--titleText)
}

.brand span{
    color: var(--textColor)
}