.home-container5{
    height: 100vh;
    width: 100%;
    background-color: var(--bgColor);
    margin: 5px;
}

.header5{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.brand5{
    font-size: 25px;
    color: var(--titleText);
    margin: 5px;
}

.brand5 span{
    color: var(--textColor);
    margin: 5px;
}

.right5{
    display: flex;
    align-items: center;
    margin: 5px;
}

.right5 div{
    margin: 0 30px;
    margin: 5px;
}

.right5 div:last-child5{
    background-color: #FEFFFE;
    padding: 8px 30px;
    font-weight: 600;
    color: var(--titleText);
    margin: 5px;
}


.container5{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    height: 90%;
    width: 100%;
    margin: 5px;
}

.left-container5{
    padding-top: 120px;
    margin: 5px;
}

.left-container5 h3{
    font-size: 14px;
    font-weight: 600;
    color: var(--textColor);
    margin-bottom: 8px;
    margin: 5px;
}

.left-container5 h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--titleText);
    margin-bottom: 15px;
    line-height: 4rem;
    margin: 5px;
}

.left-container5 p{
    color: var(--textColor);
    font-weight: 500;
    margin: 5px;
}

.button5{
    border: none;
    outline: none;
    background-color: var(--titleText);
    padding: 12px 30px;
    color: #eeeeee;
    /* margin-top: 40px; */
    border-radius: 5px;
    margin: 5px;
    margin-top: 40px;
}
